<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href = "@{../css/bootstrap.min.css}" rel = "stylesheet">
<head>
    <meta charset="UTF-8">
    <title>좌석 선택</title>
</head>
<body>
    <h2 class="text-center">객실/좌석 선택</h2><br>

    <div th:if="${going == true}" class="text-center">
        <h4>가는날 기차</h4><br><br>
        <h4 th:text="|${departurePlace} --> ${arrivalPlace}|" class="text-secondary"></h4>
        <h4 th:text="|${#temporals.monthName(dateTimeOfGoing)} ${#temporals.day(dateTimeOfGoing)}일 (${#temporals.dayOfWeekNameShort(dateTimeOfGoing)}), ${passengers}명|" class="text-secondary"></h4>
        <br>
    </div>

    <div th:if="${coming == true}" class="text-center">
        <h4>오는날 기차</h4><br><br>
        <!--arrivalPlace의 값이 오는 날일 때는 출발하는 장소-->
        <h4 th:text="|${arrivalPlace} --> ${departurePlace}|" class="text-secondary"></h4>
        <h4 th:text="|${#temporals.monthName(dateTimeOfLeaving)} ${#temporals.day(dateTimeOfLeaving)}일 (${#temporals.dayOfWeekNameShort(dateTimeOfLeaving)}), ${passengers}명|" class="text-secondary"></h4>
        <br>
    </div>

    <form th:action="@{/reservation/normal}" method="post">

        <!--bindingResult를 쓰기에 굉장히 복잡한 상황이라 합리적이지만 원시적인 방법으로 글로벌 에러 해결-->
        <h4 th:if="${passengerNumberNotSame == true}" th:text='|인원수를 제대로 선택해주세요|' class="text-danger text-center"></h4><br><br>

        <input type="hidden" name="deployIdOfGoing" th:value="${deployForm.deployIdOfGoing}">
        <input type="hidden" name="deployIdOfComing" th:value="${deployForm.deployIdOfComing}">

        <div class="container">
            <div class="row">
                <div th:each="ktxRoom, roomStat : ${ktxRooms}" class="col-3 text-center">
                    <input type="submit" class="btn btn-outline-secondary" th:name="${ktxRoom.roomName}" th:value="|${#strings.substring(ktxRoom.roomName, 4, )}호차|">
                    <div th:if="${roomStat.index % 3 == 0 && roomStat.index >= 1}">
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div><br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-3 text-center">
                    창측
                </div>
                <div class="col-3 text-center">
                    통로측
                </div>
                <div class="col-3 text-center">
                    통로측
                </div>
                <div class="col-3 text-center">
                    창측
                </div><br><br>

                <div th:each="mapEach, mapStat : ${map}" class="col-3 text-center">
                    <input type="checkbox" class="form-check-input" th:id="${mapEach.key}" th:name="${mapEach.key}" th:checked="${mapEach.value}" th:disabled="${mapEach.value == true}">
                    <input type="hidden" th:name="|_${mapEach.key}|" value="on">
                    <label class="form-check-label" th:for="${mapEach.key}" th:text="${mapEach.key}"></label>

                    <div th:if="${mapStat.index % 3 == 0 && mapStat.index >= 1}">
                        <br><br>
                    </div>
                </div>

                <input type="hidden" name="toddler" th:value="${passengerDto.toddler}">
                <input type="hidden" name="kids" th:value="${passengerDto.kids}">
                <input type="hidden" name="adult" th:value="${passengerDto.adult}">
                <input type="hidden" name="senior" th:value="${passengerDto.senior}">

                <input type="hidden" name="round" th:value="${round}">
                <input type="hidden" name="going" th:value="${going}">
                <input type="hidden" name="coming" th:value="${coming}">
                <input type="hidden" name="roomName" th:value="${roomName}">

                <input type="hidden" name="departurePlace" th:value="${departurePlace}">
                <input type="hidden" name="arrivalPlace" th:value="${arrivalPlace}">
                <input type="hidden" name="dateTimeOfGoing" th:value="${dateTimeOfGoing}">
                <input type="hidden" name="dateTimeOfLeaving" th:value="${dateTimeOfLeaving}">

                <div th:if="${(round == true && coming == true) || (round != true && going == true)}">
                    <button type="submit" class="btn btn-secondary" onclick="alert('예매 완료')" name="reserve" value="true">예매하기</button>
                </div>

                <div th:if="${round == true && going == true}">
                    <button type="submit" class="btn btn-secondary" name="coming" value="true">오는날 기차 좌석 선택하기</button>
                </div>
            </div>
        </div>
    </form>

    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>