<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href = "../css/bootstrap.min.css" rel = "stylesheet">
<head>
    <meta charset="UTF-8">
    <title>기차 예약</title>
</head>
<body>
    <h2 class="text-center">시외 교통</h2>
    <h2 class="text-center">기차 조회 · 예매</h2>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">출발</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">도착</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username">
                </div>
            </div>
        </div>
        <div>
            <span>일정 인원 선택</span>
        </div>
    </div>


</body>
</html>