<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--for bootstrap css-->
<link th:href = "@{../css/bootstrap.min.css}" rel = "stylesheet">

<!--for autocomplete-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--for only hours timepicker-->
<!--아래 키면 autocomplete 씹히는 듯-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>기차 예약</title>
</head>
<body>
    <h2 class="text-center">시외 교통</h2>
    <h2 class="text-center">기차 조회 · 예매</h2>
    <br><br>

    <div class="container">
        <div th:if="${notLogin}" class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/sign-up}'|">회원가입</button>
            </div>

            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/sign-in}'|">로그인</button>
            </div>
        </div>

        <div th:if="${login}" class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
            </div>

            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/my-page}'|">마이페이지</button>
            </div>
        </div>
    </div><br><br>

    <form th:action = "@{/schedule}" th:object="${scheduleForm}" method="post">
        <div class="container">

            <div th:if="${#fields.hasGlobalErrors()}">
                <h4 th:each="err : ${#fields.globalErrors()}" th:text = "${err}" class="text-danger text-center"></h4>
            </div><br>

            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">출발</span>
                        </div>
                        <input type="text" th:field="*{departurePlace}" class="form-control" th:errorclass="border-danger">
                    </div>
                    <div th:errors="*{departurePlace}" class="text-danger"></div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">도착</span>
                        </div>
                        <input type="text" th:field="*{arrivalPlace}" class="form-control" th:errorclass="border-danger">
                    </div>
                    <div th:errors="*{arrivalPlace}" class="text-danger"></div>
                </div>
            </div><br>

            <div class="row">
                <div class="col-2">
                    <span>일정 · 인원 선택</span>
                </div>
                <div class="col-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="round" th:field="*{round}" data-bs-toggle="collapse" data-bs-target="#roundOn">
                        <label class="form-check-label" for="round">왕복</label>
                    </div>
                </div>
            </div><br>

            <div>
                <div>
                    <div class="input-group mb-3">
                        <div class= "input-group-prepend">
                            <span class="input-group-text">가는날</span>
                        </div>&nbsp;&nbsp;
                        <input type="date" th:field="*{dateOfGoing}"
                               th:min="${#temporals.format(minDateTime, 'yyyy-MM-dd')}"
                               th:max="${#temporals.format(maxDateTime, 'yyyy-MM-dd')}" >
                        &nbsp;&nbsp;
                        <input type="text" th:field="*{timeOfGoing}" class="form-control" style="width:200px">
                        <div class="input-group-append">
                            <span class="input-group-text">이후 출발</span>
                        </div>
                    </div>
                    <div th:errors="*{dateOfGoing}" class="text-danger"></div>
                </div><br>

                <div class="collapse" id="roundOn">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">오는날</span>
                        </div>&nbsp;&nbsp;
                        <input type="date" th:field="*{dateOfLeaving}"
                               th:min="${#temporals.format(minDateTime, 'yyyy-MM-dd')}"
                               th:max="${#temporals.format(maxDateTime, 'yyyy-MM-dd')}" >
                        &nbsp;&nbsp;
                        <input type="text" th:field="*{timeOfLeaving}" class="form-control" style="width:200px">
                        <div class="input-group-append">
                            <span class="input-group-text">이후 출발</span>
                        </div>
                    </div>
                    <div th:errors="*{dateOfLeaving}" class="text-danger"></div>
                </div>
            </div><br>

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">유아</span>
                        </div>
                        <input type="text" th:field="*{toddler}" placeholder="0" class="form-control" th:errorclass="border-danger">
                        <div class="input-group-append">
                            <span class="input-group-text">명</span>
                        </div>
                    </div>
                    <div th:errors="*{toddler}" class="text-danger"></div>
                </div>

                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">어린이</span>
                        </div>
                        <input type="text" th:field="*{kids}" placeholder="0" class="form-control" th:errorclass="border-danger">
                        <div class="input-group-append">
                            <span class="input-group-text">명</span>
                        </div>
                    </div>
                    <div th:errors="*{kids}" class="text-danger"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">어른</span>
                        </div>
                        <input type="text" th:field="*{adult}" placeholder="0" class="form-control" th:errorclass="border-danger">
                        <div class="input-group-append">
                            <span class="input-group-text">명</span>
                        </div>
                    </div>
                    <div th:errors="*{adult}" class="text-danger"></div>
                </div>

                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">경로</span>
                        </div>
                        <input type="text" th:field="*{senior}" placeholder="0" class="form-control" th:errorclass="border-danger">
                        <div class="input-group-append">
                            <span class="input-group-text">명</span>
                        </div>
                    </div>
                    <div th:errors="*{senior}" class="text-danger"></div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="text-end">
                    <button type="submit" class="btn btn-secondary">시간표 조회</button>
                </div>
            </div>
        </div>
    </form>

    <script>
    //for departure autocomplete
    $(function() {
        var stations = ["가남역", "가평역", "각계역", "감곡장호원역", "강경역", "강구역", "강릉역", "강촌역", "개포역", "경산역", "계룡역",
        "고한역", "곡성역", "공주역", "광명역", "광양역", "광주역", "광주송정역", "광천역", "구례구역", "구미역", "구포역", "군북역",
        "군산역", "극락강역", "기장역", "김유정역", "김제역", "김천역", "김천구미역", '나전역', '나주역', '남성현역', '남원역', '남춘천역',
        '논산역', '능주역', '다시역', '단양역', '대광리역', '대구역', '대성리역', '대야역', '대전역', '대천역', '덕소역', '도계역',
        '도고온천역', '도라산역', '동대구역', '동두천역', '동백산역', '동탄역', '동해역', '둔내역', '득량역', '마산역', '마석역', '만종역',
        '망상해변역', '매곡역', '명봉역', '목포역', '몽탄역', '무안역', '묵호역', '문산역', '물금역', '민둥산역', '밀양역', '반성역',
        '백마고지역', '백양리역', '백양사역', '벌교역', '별어곡역', '보성역', '봉성역', '봉양역', '봉화역', '부강역', '부발역',
        '부산역', '부전역', '사곡역', '사릉역', '사북역', '사상역', '삼랑진역', '삼례역', '삼산역', '삼탄역', '삽교역', '상동역',
        '상봉역', '상주역', '서경주역', '서광주역', '서대구역', '서대전역', '서울역', '서원주역', '서정리역', '서천역', '석불역',
        '석포역', '선평역', '성환역', '센텀역', '소요산역', '수서역', '수원역', '순천역', '승부역', '신경주역', '신기역', '신녕역',
        '신동역', '신례원역', '신망리역', '신창역', '신탄리역', '신탄진역', '신태인역', '신해운대역', '심천역', '쌍룡역', '아산역',
        '아우라지역', '아화역', '안강역', '안동역', '안양역', '안인역', '앙성온천역', '약목역', '양동역', '양원역', '양평역',
        '여수EXPO역', '여천역', '연산역', '연천역', '영덕역', '영동역', '영등포역', '영월역', '영주역', '영천역', '예당역',
        '예미역', '예산역', '예천역', '오근장역', '오산역', '오송역', '오수역', '옥산역', '옥수역', '옥천역', '온양온천역',
        '완사역', '왕십리역', '왜관역', '용궁역', '용문역', '용산역', '운천역', '울산(통도사)역', '웅천역', '원동역',
        '원주역', '월포역', '음성역', '의성역', '의정부역', '이양역', '이원역', '익산역', '인천공항T1역', '인천공항T2역',
        '일로역', '일신역', '임기역', '임성리역', '임실역', '임진강역', '입석리역', '장사역', '장성역', '장항역',
        '전곡역', '전의역', '전주역', '점촌역', '정동진역', '정선역', '정읍역', '제천역', '조성역',
        '조치원역', '주덕역', '중리역', '증평역', '지탄역', '지평역', '진례역', '진부(오대산)역', '진상역', '진영역', '진주역',
        '창원역', '창원중앙역', '천안역', '천안아산역', '철암역', '청도역', '청량리역', '청리역', '청소역', '청주역', '청주공항역',
        '청평역', '초성리역', '추풍령역', '춘양역', '춘천역', '충주역', '탑리역', '태백역', '태화강역', '퇴계원역',
        '판교역', '평내호평역', '평창역', '평택역', '평택지제역', '포항역', '풍기역', '하동역', '하양역', '한림정역',
        '한탄강역', '함안역', '함열역', '함창역'];

        $('#departurePlace').autocomplete({
            source : stations,
            select : function(event, ui) {
                console.log(ui.item);
            },
            focus : function(event, ui) {
                return false;
            },
            minLength : 1,
            autoFocus : true,
            classes : {
                'ui-autocomplete' : 'highlight'
            },
            delay : 100,
            disable : false,
            position : { my : 'right top', at : 'right bottom'},
            close : function(event) {
                console.log(event);
            }
        });
    });

    //for arrival autocomplete
    $(function() {
        var stations = ["가남역", "가평역", "각계역", "감곡장호원역", "강경역", "강구역", "강릉역", "강촌역", "개포역", "경산역", "계룡역",
        "고한역", "곡성역", "공주역", "광명역", "광양역", "광주역", "광주송정역", "광천역", "구례구역", "구미역", "구포역", "군북역",
        "군산역", "극락강역", "기장역", "김유정역", "김제역", "김천역", "김천구미역", '나전역', '나주역', '남성현역', '남원역', '남춘천역',
        '논산역', '능주역', '다시역', '단양역', '대광리역', '대구역', '대성리역', '대야역', '대전역', '대천역', '덕소역', '도계역',
        '도고온천역', '도라산역', '동대구역', '동두천역', '동백산역', '동탄역', '동해역', '둔내역', '득량역', '마산역', '마석역', '만종역',
        '망상해변역', '매곡역', '명봉역', '목포역', '몽탄역', '무안역', '묵호역', '문산역', '물금역', '민둥산역', '밀양역', '반성역',
        '백마고지역', '백양리역', '백양사역', '벌교역', '별어곡역', '보성역', '봉성역', '봉양역', '봉화역', '부강역', '부발역',
        '부산역', '부전역', '사곡역', '사릉역', '사북역', '사상역', '삼랑진역', '삼례역', '삼산역', '삼탄역', '삽교역', '상동역',
        '상봉역', '상주역', '서경주역', '서광주역', '서대구역', '서대전역', '서울역', '서원주역', '서정리역', '서천역', '석불역',
        '석포역', '선평역', '성환역', '센텀역', '소요산역', '수서역', '수원역', '순천역', '승부역', '신경주역', '신기역', '신녕역',
        '신동역', '신례원역', '신망리역', '신창역', '신탄리역', '신탄진역', '신태인역', '신해운대역', '심천역', '쌍룡역', '아산역',
        '아우라지역', '아화역', '안강역', '안동역', '안양역', '안인역', '앙성온천역', '약목역', '양동역', '양원역', '양평역',
        '여수EXPO역', '여천역', '연산역', '연천역', '영덕역', '영동역', '영등포역', '영월역', '영주역', '영천역', '예당역',
        '예미역', '예산역', '예천역', '오근장역', '오산역', '오송역', '오수역', '옥산역', '옥수역', '옥천역', '온양온천역',
        '완사역', '왕십리역', '왜관역', '용궁역', '용문역', '용산역', '운천역', '울산(통도사)역', '웅천역', '원동역',
        '원주역', '월포역', '음성역', '의성역', '의정부역', '이양역', '이원역', '익산역', '인천공항T1역', '인천공항T2역',
        '일로역', '일신역', '임기역', '임성리역', '임실역', '임진강역', '입석리역', '장사역', '장성역', '장항역',
        '전곡역', '전의역', '전주역', '점촌역', '정동진역', '정선역', '정읍역', '제천역', '조성역',
        '조치원역', '주덕역', '중리역', '증평역', '지탄역', '지평역', '진례역', '진부(오대산)역', '진상역', '진영역', '진주역',
        '창원역', '창원중앙역', '천안역', '천안아산역', '철암역', '청도역', '청량리역', '청리역', '청소역', '청주역', '청주공항역',
        '청평역', '초성리역', '추풍령역', '춘양역', '춘천역', '충주역', '탑리역', '태백역', '태화강역', '퇴계원역',
        '판교역', '평내호평역', '평창역', '평택역', '평택지제역', '포항역', '풍기역', '하동역', '하양역', '한림정역',
        '한탄강역', '함안역', '함열역', '함창역'];

        $('#arrivalPlace').autocomplete({
            source : stations,
            select : function(event, ui) {
                console.log(ui.item);
            },
            focus : function(event, ui) {
                return false;
            },
            minLength : 1,
            autoFocus : true,
            classes : {
                'ui-autocomplete' : 'highlight'
            },
            delay : 100,
            disable : false,
            position : { my : 'right top', at : 'right bottom'},
            close : function(event) {
                console.log(event);
            }
        });
    });
    </script>

    <!--  for timepicker  -->
    <script>
        $(function() {
            $("#timeOfGoing").timepicker({
                timeFormat: 'HH:mm',
                interval: 60,
                minTime: '00',
                maxTime: '23',
                defaultTime: '[[${#temporals.format(minDateTime, 'HH')}]]',
                startTime: '00:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });

        $(function() {
            $("#timeOfLeaving").timepicker({
                timeFormat: 'HH:mm',
                interval: 60,
                minTime: '00',
                maxTime: '23',
                defaultTime: '00',
                startTime: '00:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>

    <!--for bootstrap js-->
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>