<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href = "@{../css/bootstrap.min.css}" rel = "stylesheet">
<head>
    <meta charset="UTF-8">
    <title>schedule</title>
</head>
<body>
    <h2 class="text-center">시간표</h2><br><br>

    <form th:action="@{/reservation}" method="post">
        <div th:if="${emptyWhenGoing == true}" class="container">
            <h4 class="text-center">가는날 기차</h4><br><br>

            <h2 class="text-center">이용 가능한 노선이 없습니다.</h2>
            <h2 class="text-center">출발 · 도착 위치와 시간을 확인하고,</h2>
            <h2 class="text-center">다시 조회해 보세요.</h2><br>

            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/}'|">다시 선택하기</button>
            </div>
        </div>

        <div th:if="${deploysWhenComing != null}" class="container">
            <h4 class="text-center">가는날 기차</h4><br><br>

            <div th:each="deploy: ${deploysWhenGoing}">
                <p th:text="${deploy.train.trainName}"></p>
                <p th:text="${deploy.departurePlace}"></p>
                <p th:text="${deploy.departureTime}"></p>
                <p th:text="${deploy.arrivalPlace}"></p>
                <p th:text="${deploy.arrivalTime}"></p>
                <br><br>
            </div>

        </div><br><br>

        <div th:if="${emptyWhenComing == true}" class="container">
            <h4 class="text-center">오는날 기차</h4><br><br>

            <h2 class="text-center">이용 가능한 노선이 없습니다.</h2>
            <h2 class="text-center">출발 · 도착 위치와 시간을 확인하고,</h2>
            <h2 class="text-center">다시 조회해 보세요.</h2><br>

            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/}'|">다시 선택하기</button>
            </div>
        </div>

        <div th:if="${emptyWhenComing != true && deploysWhenComing != null}" class="container">
            <h4 class="text-center">오는날 기차</h4><br><br>

            <div th:each="deploy: ${deploysWhenComing}">
                <p th:text="${deploy.train.trainName}"></p>
                <p th:text="${deploy.departurePlace}"></p>
                <p th:text="${deploy.departureTime}"></p>
                <p th:text="${deploy.arrivalPlace}"></p>
                <p th:text="${deploy.arrivalTime}"></p>
                <br><br>
            </div>
        </div>

        <div th:if="${(emptyWhenComing == true and emptyWhenGoing != true) or (emptyWhenComing != true and emptyWhenGoing != true)}" class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/}'|">홈으로 가기</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/sign-up}'|">좌석 선택하기</button>
            </div>
        </div>
    </form>

</body>
</html>